html {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  img {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inimage {
    position: absolute;
    top: 60%;
    left: 30%;
  }
  
  .headerquotesmall {
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
  }
  
  .headerquotebig {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .headertext {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin: 40px;
  }
  
  .quote {
    width: 600px;
    background: #222;
    color: white;
    text-align: center;
    align-elements: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    height: 100px;
  }
  
  .quote::before {
    position: relative;
    content: '“';
    color: white;
    font-size: 60px;
  }